<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211552879642-gr8ftppo25mrdfnn1ai0tbsghlfa3all.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211552879642-gr8ftppo25mrdfnn1ai0tbsghlfa3all</string>
	<key>API_KEY</key>
	<string>AIzaSyCQoo1N1u6Ov3t09MEp1hBBwVRowuO4yQs</string>
	<key>GCM_SENDER_ID</key>
	<string>211552879642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.ilsur.aidreamio</string>
	<key>PROJECT_ID</key>
	<string>dreamio-c6ece</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamio-c6ece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211552879642:ios:3af6644f8815627cd4fda3</string>
</dict>
</plist>